################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorShopDemo/BlazorShopDemo/Client/bin/*
/BlazorShopDemo/BlazorShopDemo/Server/bin/*
/BlazorShopDemo/BlazorShopDemo/Server/obj/*
/BlazorShopDemo/BlazorShopDemo/Client/obj/*
/.vs/*