################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerceBlazorApp/ECommerceBlazorApp/Client/bin/Debug/net6.0/wwwroot/_framework
/ECommerceBlazorApp/ECommerceBlazorApp/Client/bin/Debug/net6.0
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/build-gz
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/ref
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/refint
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/scopedcss/bundle
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/scopedcss/projectbundle
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/scopedcss/Shared
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/staticwebassets
/ECommerceBlazorApp/ECommerceBlazorApp/Server/bin/Debug/net6.0/BlazorDebugProxy
/ECommerceBlazorApp/ECommerceBlazorApp/Server/bin/Debug/net6.0
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/staticwebassets
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/refint
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ref
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/obj/Debug/net6.0/ref
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/obj/Debug/net6.0/refint
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/project.razor.vs.json
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/project.razor.vs.json
*.vsidx
*.v2
*.v2
*.2
*.2
ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/project.razor.vs.json
ECommerceBlazorApp/.vs/ECommerceBlazorApp/DesignTimeBuild/.dtbcache.v2
/.vs/ECommerceBlazorApp/FileContentIndex
/.vs/ECommerceBlazorApp/v17
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/ECommerceBlazorApp.Client.GeneratedMSBuildEditorConfig.editorconfig
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/ECommerceBlazorApp.Client.csproj.AssemblyReference.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/ECommerceBlazorApp.Client.assets.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Release/net6.0
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/project.nuget.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/project.assets.json
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/ECommerceBlazorApp.Client.csproj.nuget.dgspec.json
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.GeneratedMSBuildEditorConfig.editorconfig
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.csproj.AssemblyReference.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.assets.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Release/net6.0
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/obj/Release/net6.0
/ECommerceBlazorApp/.vs/ECommerceBlazorApp/v17/.suo
/.vs
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/_IsIncrementalBuild
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/_IsIncrementalBuild
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/obj/Debug/net6.0/ECommerceBlazorApp.Shared.GeneratedMSBuildEditorConfig.editorconfig
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/obj/Debug/net6.0/ECommerceBlazorApp.Shared.csproj.AssemblyReference.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/obj/Debug/net6.0/ECommerceBlazorApp.Shared.assets.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/project.assets.json
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/ECommerceBlazorApp.Server.csproj.nuget.dgspec.json
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/obj/project.assets.json
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/obj/ECommerceBlazorApp.Shared.csproj.nuget.dgspec.json
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/blazor.boot.json
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/apphost.exe
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/obj/Debug/net6.0
/ECommerceBlazorApp/.vs/ECommerceBlazorApp/DesignTimeBuild/.dtbcache.v2
/ECommerceBlazorApp/.vs/ECommerceBlazorApp/v17/.futdcache.v2
/ECommerceBlazorApp/.vs/ProjectEvaluation/ecommerceblazorapp.projects.v5.2
/ECommerceBlazorApp/.vs/ProjectEvaluation/ecommerceblazorapp.metadata.v5.2
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/staticwebassets.pack.json
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/staticwebassets.development.json
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/staticwebassets.build.json
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/ECommerceBlazorApp.Client.pdb
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/ECommerceBlazorApp.Client.MvcApplicationPartsAssemblyInfo.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/ECommerceBlazorApp.Client.dll
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/ECommerceBlazorApp.Client.csproj.FileListAbsolute.txt
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/ECommerceBlazorApp.Client.csproj.CoreCompileInputs.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/ECommerceBlazorApp.Client.csproj.CopyComplete
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/ECommerceBlazorApp.Client.AssemblyInfoInputs.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/ECommerceBlazorApp.Client.AssemblyInfo.cs
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/staticwebassets.development.json
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/staticwebassets.build.json
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.RazorAssemblyInfo.cs
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.RazorAssemblyInfo.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.pdb
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.MvcApplicationPartsAssemblyInfo.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.genruntimeconfig.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.dll
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.csproj.FileListAbsolute.txt
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.csproj.CoreCompileInputs.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.csproj.CopyComplete
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.AssemblyInfoInputs.cache
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/ECommerceBlazorApp.Server.AssemblyInfo.cs
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/bin/Debug/net6.0/ECommerceBlazorApp.Shared.pdb
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/bin/Debug/net6.0/ECommerceBlazorApp.Shared.dll
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/bin/Debug/net6.0/ECommerceBlazorApp.Shared.deps.json
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/obj/Debug/net6.0/ECommerceBlazorApp.Shared.csproj.FileListAbsolute.txt
/ECommerceBlazorApp/ECommerceBlazorApp/Shared/obj
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/Debug/net6.0/project.razor.vs.json
/ECommerceBlazorApp/ECommerceBlazorApp/Client/obj/ECommerceBlazorApp.Client.csproj.nuget.g.props
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/Debug/net6.0/project.razor.vs.json
/ECommerceBlazorApp/ECommerceBlazorApp/Server/obj/ECommerceBlazorApp.Server.csproj.nuget.g.props
