@page "/"
@page "/{CategoryUrl}"
@inject ICategoryService CategoryService
@inject IProductService ProductService
@inject ISyncLocalStorageService LocalStorageService
@inject IStatsService StatsService

@if (_category != null)
{
    <h1>Welcome to the @_category.Name section!</h1>
    <ProductList />
}
else
{
    <AuthorizeView>
        <NotAuthorized>
            <h1>Welcome to my store!</h1>
        </NotAuthorized>
        <Authorized>
            <h1>Welcome back, @LocalStorageService.GetItemAsString("username").ToString()!</h1>
        </Authorized>
    </AuthorizeView>
    <ProductList />
}

@code 
{
    [Parameter]
    public string? CategoryUrl { get; set; }

    private Category? _category;

    protected override async Task OnParametersSetAsync()
    {
        await ProductService.LoadProducts(CategoryUrl);

        if (CategoryUrl != null)
        {
            _category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            _category = null;
        }

        await StatsService.IncrementVisists();
        await StatsService.GetVisits();
    }
}